* {
	overflow-x: hidden;
}

.presentation {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.title {
	margin: 0 auto;
	font-size: 40px;
}

.ArticleOne {
	display: flex;
	margin-top: 5%;
	border: solid 2px black;
}

.AOTitle {
	font-size: 25px;
}

.AOText {
	display: flex;
	flex-direction: column;
	margin-left: 1%;
}

.ArticleTwo {
	display: flex;
	margin-top: 5%;
	border: solid 2px black;
}

.ATTitle {
	font-size: 25px;
}

.ATText {
	display: flex;
	flex-direction: column;
	margin-left: 1%;
}