.presentation {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-bottom: 4.5rem;
}

.title {
	margin: 0 auto;
	font-size: 270%;
}

.ArticleOne {
	display: flex;
	margin: 2%;
	border: solid 2px black;
}

.AOTitle {
	font-size: 150%;
}

.AOText {
	display: flex;
	flex-direction: column;
	margin-left: 1%;
	font-size: 100%;
}

.ArticleTwo {
	display: flex;
	margin: 2%;
	border: solid 2px black;
}

.ATTitle {
	font-size: 150%;
}

.ATText {
	display: flex;
	flex-direction: column;
	margin-left: 1%;
	font-size: 100%;
}

.ArticleOneImg {
    height: 20%;
    width: 20%;
}

.ArticleTwoImg {
	height: 20%;
    width: 15%;
}