

.header {
	background-color: rgb(61, 120, 250);
	display: flex;
}

.nav {
	display: flex;
	width: auto;
	height: auto;
}

.navButton {
		font-size: 25px;
		padding: 35px;
		color: white;
		text-decoration: none;
}

.navButton:hover {
	text-decoration: underline;
}

.pageName {
	color: rgb(255, 255, 255);
	margin: 20px;
	font-size: 40px;
}

.Logo {
    width: 6%;
}